Employee name: <%= link_to "#{@employee.first_name} #{@employee.last_name}", employee_path(@employee) %><br>
<li>Alias: <%= @employee.alias %></li>
<li>Title: <%= @employee.title %></li>
<li>Office: <%= @employee.office %></li>
<li>Image URL: <%= @employee.office %></li>
