<h1> <%= @employee.name %> </h1>

<h4>First Name: <%= @employee.first_name %> </h4>
<h4>Last Name: <%= @employee.last_name %> </h4>
<h4>Alias: <%= @employee.alias %> </h4>
<h4>Title: <%= @employee.title %> </h4>
<h4>Office: <%= @employee.office %> </h4>
<h4>Image:</h4>
<img src="<%= @employee.img_url %>" alt="<%= @employee.name %> Image" style="height: 30vh">